
    .rating_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: rgb(163, 146, 232);    
}

.btn_text{
      
    border:3px solid gray;
    padding:8px 80px;
    font-size: 20px;
}
.link_text{
    text-decoration: none;
    color: black;
   
}